body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

  /* Keyboard Style */
.keyboard {
    display: grid;
    grid-template-columns: repeat(19, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    padding: 10px;
    background-color: #222;
    border-radius: 10px;

}

.key{
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
}
.key:hover {
    color: black;
    background: gray;
}